HCL_HOST_URL='https://your-store.com:6443'
HCL_STORE_ID='41'
HCL_CATALOG_ID='11501'
HCL_CONTRACT_ID='-41005'
HCL_FULFILLMENT_CENTER='R00B2C'
HCL_STORE_NAME='Ruby'
HCL_COMMERCE_VERSION='commerce-plus'
HCL_CURRENCY='USD'
